body{
    background-color: white;
    margin: 0;
}
header {
    height: 101px;
    box-shadow: 0 1px 3px rgba(29, 13, 13, 0.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
    
}

.header-container {
    max-width:  1269px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    height: 51px;
    width: 51px;
}

.logo img {
    height: 100%;
}